@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
// font-family: 'Livvic', sans-serif;

$midnight-green: #014e56;
$light-carol: #f67e7e;
$white: #fff;
$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-jungle-green: #004047;
$s-state-green: #012f34;
$dark-green: #002529;
$h1-l: normal 700 10rem "Livvic";
$h1-s: normal 700 6.4rem "Livvic";
$h2: normal 700 4.8rem "Livvic";
$h3: normal 700 1.8rem/2.8rem "Livvic";
$body-first: normal 600 1.8rem/2.8rem "Livvic";
$body-second: normal 600 1.5rem/2.5rem "Livvic" ;
$primary-normal: #012f34;
$primary-hover: #fff;
$primary-disabled: 0.5;
$text-active: 1px solid #f67e7e;
